.theme-dark {
    --accent-colour: rgb(191, 191, 201);
    --activity-card-background: rgb(35, 34, 43);
    --background-accent-gradient: rgb(28, 27, 34);
    --background-accent: rgb(35, 34, 43);
    --background-alt: rgb(28, 27, 34);
    --background-floating: rgb(35, 34, 43);
    --background-mentioned-hover: rgb(82, 82, 94);
    --background-mentioned: rgba(82, 82, 94, 0.8);
    --background-message-hover: transparent;
    --background-modifier-accent: transparent;
    --background-modifier-active: rgb(91, 91, 102);
    --background-modifier-hover: rgba(82, 82, 94, 0.8);
    --background-modifier-selected: rgb(82, 82, 94);
    --background-primary-alt: rgb(35, 34, 43);
    --background-primary: rgb(35, 34, 43);
    --background-secondary-alt: rgb(35, 34, 43);
    --background-secondary: rgb(35, 34, 43);
    --background-tertiary: rgb(28, 27, 34);
    --border-colour: rgba(249, 249, 250, 0.2);
    --button-accent-active: rgb(91, 91, 102);
    --button-accent-hover: rgb(214, 241, 253);
    --button-accent: rgb(191, 191, 201);
    --button-background-active: rgb(91, 91, 102);
    --button-background-hover: rgba(82, 82, 94, 0.8);
    --button-background: rgb(43, 42, 51);
    --button-destructive-active: rgb(250, 74, 74);
    --button-destructive-hover: rgb(255, 146, 155);
    --button-destructive: rgb(251, 124, 124);
    --channels-default: rgb(106, 106, 118);
    --channeltextarea-background: rgb(28, 27, 34);
    --control-brand-foreground: rgb(191, 191, 201);
    --header-primary: rgb(251, 251, 254);
    --header-secondary: rgb(106, 106, 118);
    --info-warning-foreground: rgb(191, 191, 201);
    --interactive-active: rgb(191, 191, 201);
    --interactive-normal: rgb(251, 251, 254);
    --interactive-selected: rgb(251, 251, 254);
    --radio-bar-accent-color: transparent;
    --settings-icon-color: rgb(251, 251, 254);
    --switch: rgb(35, 34, 43);
    --tab-selected: rgb(82, 82, 94);
    --text-link: rgb(237, 248, 254);
    --text-muted: rgb(106, 106, 118);
    --text-normal: rgb(251, 251, 254);
    --text-positive: rgb(191, 191, 201);
}

.autocomplete-1vrmpx.autocomplete-3l_oCd {
    background-color: var(--background-primary);
}

.base-1pYU8j.selectable-3dP3y-.selected-1Tbx07 {
    background-color: var(--background-modifier-hover);
}

//  LIGHT THEME IS SCUFFED RIGHT NOW

/*
.theme-light {
    --accent-colour: rgb(255, 255, 255);
    --accent-colour-2: rgb(0, 221, 255);
    --background-main: rgb(215, 215, 219);
    --background-alt: rgb(255, 255, 255);
    --background-accent: rgb(180, 180, 180);
    --border-colour: rgb(200, 200, 200);
}

.theme-light {
    --background-primary: var(--background-main);
    --background-primary-alt: var(--background-main);
    --background-secondary: var(--background-main);
    --background-secondary-alt: var(--background-main);
    --background-tertiary: var(--background-alt);
    --background-accent-gradient: var(--background-alt);
    --background-floating: var(--background-main);
    --background-mentioned: rgb(220, 220, 220);
    --background-mentioned-hover: rgb(180, 180, 180);
    --background-modifier-hover: var(--background-accent);
    --background-modifier-active: var(--background-accent);
    --background-modifier-selected: var(--accent-colour);
    --background-modifier-accent: transparent;
    --background-message-hover: transparent;
    --text-normal: rgb(60, 60, 60);
    --text-positive: rgb(30, 30, 30);
    --text-muted: rgb(100, 100, 100);
    --text-link: var(--accent-colour-2);
    --interactive-selected: var(--background-primary);
    --interactive-active: var(--text-normal);
    --interactive-normal: var(--text-normal);
    --channels-default: var(--text-normal);
    --header-primary: var(--text-normal);
    --header-secondary: var(--text-muted);
    --settings-icon-color: #566e86;
    --radio-bar-accent-color: transparent;
    --control-brand-foreground: var(--accent-colour);
    --info-warning-foreground: var(--accent-colour);
    --tab-selected: #c5cfd7;
    --channeltextarea-background: var(--background-tertiary);
    --switch: #c8d0d9;
    --activity-card-background: var(--background-main);
    --button-background: #e4e8ee;
    --button-background-hover: #d3dae1;
    --button-background-active: #c8d0d9;
    --button-accent: var(--accent-colour);
    --button-accent-hover: #d6f1fd;
    --button-accent-active: rgb(251, 251, 254);
    --button-destructive: #fb7c7c;
    --button-destructive-hover: #ff929b;
    --button-destructive-active: #fa4a4a;
}
*/