.theme-dark {
    --accent-colour: rgb(191, 191, 201);
    --activity-card-background: rgb(35, 34, 43);
    --background-accent-gradient: rgb(28, 27, 34);
    --background-accent: rgb(35, 34, 43);
    --background-alt: rgb(28, 27, 34);
    --background-floating: rgb(35, 34, 43);
    --background-mentioned-hover: rgb(82, 82, 94);
    --background-mentioned: rgb(82, 82, 94);
    --background-message-hover: transparent;
    --background-modifier-accent: transparent;
    --background-modifier-active: rgb(91, 91, 102);
    --background-modifier-hover: rgba(82, 82, 94, 0.8);
    --background-modifier-selected: rgb(82, 82, 94);
    --background-primary-alt: rgb(35, 34, 43);
    --background-primary: rgb(35, 34, 43);
    --background-secondary-alt: rgb(35, 34, 43);
    --background-secondary: rgb(35, 34, 43);
    --background-tertiary: rgb(28, 27, 34);
    --border-colour: rgb(91, 91, 102);
    --button-accent-active: rgb(91, 91, 102);
    --button-accent-hover: rgb(214, 241, 253);
    --button-accent: rgb(191, 191, 201);
    --button-background-active: rgb(91, 91, 102);
    --button-background-hover: rgba(82, 82, 94, 0.8);
    --button-background: rgb(43, 42, 51);
    --button-destructive-active: rgb(250, 74, 74);
    --button-destructive-hover: rgb(255, 146, 155);
    --button-destructive: rgb(251, 124, 124);
    --channels-default: rgb(106, 106, 118);
    --channeltextarea-background: rgb(28, 27, 34);
    --control-brand-foreground: rgb(191, 191, 201);
    --header-primary: rgb(251, 251, 254);
    --header-secondary: rgb(106, 106, 118);
    --info-warning-foreground: rgb(191, 191, 201);
    --interactive-active: rgb(191, 191, 201);
    --interactive-normal: rgb(251, 251, 254);
    --interactive-selected: rgb(251, 251, 254);
    --radio-bar-accent-color: transparent;
    --settings-icon-color: rgb(251, 251, 254);
    --switch: rgb(35, 34, 43);
    --tab-selected: rgb(82, 82, 94);
    --text-link: rgb(237, 248, 254);
    --text-muted: rgb(106, 106, 118);
    --text-normal: rgb(251, 251, 254);
    --text-positive: rgb(191, 191, 201);
}


/*
    --brand-experiment-100: hsl(228, calc(var(--background-tertiary, 1)*55.6%), 98.2%) !important;
    --brand-experiment-130: hsl(228, calc(var(--background-tertiary, 1)*62.5%), 96.9%) !important;
    --brand-experiment-160: hsl(228, calc(var(--background-tertiary, 1)*60%), 95.1%) !important;
    --brand-experiment-200: hsl(229, calc(var(--background-tertiary, 1)*60%), 93.1%) !important;
    --brand-experiment-230: hsl(227, calc(var(--background-tertiary, 1)*57.4%), 90.8%) !important;
    --brand-experiment-260: hsl(226, calc(var(--background-tertiary, 1)*58.6%), 88.6%) !important;
    --brand-experiment-300: hsl(227, calc(var(--background-tertiary, 1)*57.7%), 86.1%) !important;
    --brand-experiment-330: hsl(227, calc(var(--background-tertiary, 1)*59.1%), 81.8%) !important;
    --brand-experiment-360: hsl(227, calc(var(--background-tertiary, 1)*57.9%), 77.6%) !important;
    --brand-experiment-400: hsl(226, calc(var(--background-tertiary, 1)*58%), 72%) !important;
    --brand-experiment-430: hsl(227, calc(var(--background-tertiary, 1)*58.2%), 70%) !important;
    --brand-experiment-460: hsl(227, calc(var(--background-tertiary, 1)*58.5%), 67.8%) !important;
    --brand-experiment: hsl(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%) !important;
    --brand-experiment-500: hsl(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%) !important;
    --brand-experiment-530: hsl(227, calc(var(--background-tertiary, 1)*45.2%), 59.2%) !important;
    --brand-experiment-560: hsl(227, calc(var(--background-tertiary, 1)*35.3%), 52.7%) !important;
    --brand-experiment-600: hsl(227, calc(var(--background-tertiary, 1)*31%), 44.3%) !important;
    --brand-experiment-630: hsl(226, calc(var(--background-tertiary, 1)*31.3%), 38.2%) !important;
    --brand-experiment-660: hsl(226, calc(var(--background-tertiary, 1)*31%), 33.5%) !important;
    --brand-experiment-700: hsl(227, calc(var(--background-tertiary, 1)*30.8%), 26.1%) !important;
    --brand-experiment-730: hsl(228, calc(var(--background-tertiary, 1)*31.2%), 24.5%) !important;
    --brand-experiment-760: hsl(227, calc(var(--background-tertiary, 1)*31.6%), 22.4%) !important;
    --brand-experiment-800: hsl(226, calc(var(--background-tertiary, 1)*31.3%), 19.4%) !important;
    --brand-experiment-830: hsl(225, calc(var(--background-tertiary, 1)*31.6%), 14.9%) !important;
    --brand-experiment-860: hsl(225, calc(var(--background-tertiary, 1)*32%), 9.8%) !important;
    --brand-experiment-900: hsl(228, calc(var(--background-tertiary, 1)*29.4%), 3.3%) !important;
    --brand-experiment-05a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.05) !important;
    --brand-experiment-10a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.1) !important;
    --brand-experiment-15a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.15) !important;
    --brand-experiment-20a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.2) !important;
    --brand-experiment-25a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.25) !important;
    --brand-experiment-30a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.3) !important;
    --brand-experiment-35a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.35) !important;
    --brand-experiment-40a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.4) !important;
    --brand-experiment-45a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.45) !important;
    --brand-experiment-50a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.5) !important;
    --brand-experiment-55a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.55) !important;
    --brand-experiment-60a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.6) !important;
    --brand-experiment-65a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.65) !important;
    --brand-experiment-70a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.7) !important;
    --brand-experiment-75a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.75) !important;
    --brand-experiment-80a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.8) !important;
    --brand-experiment-85a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.85) !important;
    --brand-experiment-90a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.9) !important;
    --brand-experiment-95a: hsla(227, calc(var(--background-tertiary, 1)*58.4%), 65.1%, 0.95) !important;
*/

//  LIGHT THEME IS SCUFFED RIGHT NOW

/*
.theme-light {
    --accent-colour: rgb(255, 255, 255);
    --accent-colour-2: rgb(0, 221, 255);
    --background-main: rgb(215, 215, 219);
    --background-alt: rgb(255, 255, 255);
    --background-accent: rgb(180, 180, 180);
    --border-colour: rgb(200, 200, 200);
}

.theme-light {
    --background-primary: var(--background-main);
    --background-primary-alt: var(--background-main);
    --background-secondary: var(--background-main);
    --background-secondary-alt: var(--background-main);
    --background-tertiary: var(--background-alt);
    --background-accent-gradient: var(--background-alt);
    --background-floating: var(--background-main);
    --background-mentioned: rgb(220, 220, 220);
    --background-mentioned-hover: rgb(180, 180, 180);
    --background-modifier-hover: var(--background-accent);
    --background-modifier-active: var(--background-accent);
    --background-modifier-selected: var(--accent-colour);
    --background-modifier-accent: transparent;
    --background-message-hover: transparent;
    --text-normal: rgb(60, 60, 60);
    --text-positive: rgb(30, 30, 30);
    --text-muted: rgb(100, 100, 100);
    --text-link: var(--accent-colour-2);
    --interactive-selected: var(--background-primary);
    --interactive-active: var(--text-normal);
    --interactive-normal: var(--text-normal);
    --channels-default: var(--text-normal);
    --header-primary: var(--text-normal);
    --header-secondary: var(--text-muted);
    --settings-icon-color: #566e86;
    --radio-bar-accent-color: transparent;
    --control-brand-foreground: var(--accent-colour);
    --info-warning-foreground: var(--accent-colour);
    --tab-selected: #c5cfd7;
    --channeltextarea-background: var(--background-tertiary);
    --switch: #c8d0d9;
    --activity-card-background: var(--background-main);
    --button-background: #e4e8ee;
    --button-background-hover: #d3dae1;
    --button-background-active: #c8d0d9;
    --button-accent: var(--accent-colour);
    --button-accent-hover: #d6f1fd;
    --button-accent-active: rgb(251, 251, 254);
    --button-destructive: #fb7c7c;
    --button-destructive-hover: #ff929b;
    --button-destructive-active: #fa4a4a;
}
*/