@import '../vars.scss';
////    Server List
//  Content Panel
.content-98HsJk {
    padding-left: 20px;
    border-radius: $radius;
}

//  Server Icons
.wrapper-25eVIn {
    border-radius: $radius;
    background-color: white;
}

.scroller-1Bvpku.none-2Eo-qx.scrollerBase-289Jih {
    border-radius: $radius;
    padding-left: 10px;
    //background-color: var(--background-secondary);
}