.theme-dark .autocomplete-1vrmpx {
    background-color: var(--background-primary);
    border: 1px solid var(--background-modifier-active);
}

.base-1pYU8j.selectable-3dP3y-.selected-1Tbx07 {
    background-color: var(--background-tertiary);
}