.theme-dark .lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: var(--button-background);
    &:hover {
        background-color: var(--button-background-hover);
    }
    &:active {
        background-color: var(--button-background-active);
    }
}