.theme-dark .modal-3O0aXp.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y {
    background-color: var(--background-primary);
    border: 1px solid var(--border-colour);
    border-radius: var(--radius);
}

.close-hZ94c6.flexChild-faoVW3.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
    left: 235px;
}