.menu-3sdvDG.styleFlexible-wGDiIL {
    border: 1px solid var(--border-colour);
    border-radius: var(--radius);
}

//  Active Selection
.item-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-j {
    background-color: var(--background-tertiary);
}

//  Recent Emojis
.wrapper-3_530D {
    position: absolute;
    display: none;
}