.theme-dark .uploadModal-2ifh8j {
    background-color: var(--background-primary);
    border: 1px solid var(--border-colour);
}

.theme-dark .footer-3mqk7D {
    background-color: var(--background-tertiary);
    //border: 1px solid var(--border-colour);
}