.theme-dark .modal-1k91nT.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y {
    background-color: var(--background-primary);
    &>:nth-child(3) {
        background-color: var(--background-tertiary);
    }
}

.input-cIJ7To.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs {
    border-color: transparent;
}

.css-gvi9bl-control {
    border-color: transparent;
    &:hover {
        border-color: transparent;
    }
    &:active {
        border-color: transparent;
    }
}

.theme-dark .css-rzbxvl-option {
    background-color: var(--background-tertiary);
}

.theme-dark .css-3vaxre-menu {
    border-color: var(--border-colour);
    background-color: var(--background-primary);
}

.inviteRowButton-3opYo2.button-38aScr.colorGreen-29iAKY.sizeSmall-2cSMqn.grow-q77ONN {
    &.lookOutlined-3sRXeN {
        right: 10px;
    }
    &.lookFilled-1Gx00P {
        right: 10px;
    }
}