//  Content Panel
.content-98HsJk {
    padding-left: 20px;
    border-radius: var(--radius);
}

//  Server Icons
.wrapper-25eVIn {
    border-radius: var(--radius);
}

//  Selected Server Icon
.listItem-GuPuDH.selected div:first-child {
    background-color: white;
    border-radius: var(--radius);
}

//  Selected Server Icon Bar
.pill-1z4sAY.wrapper-sa6paO {
    width: 0;
}

.scroller-1Bvpku.none-2Eo-qx.scrollerBase-289Jih {
    border-radius: var(--radius);
    padding-left: 10px;
    //background-color: var(--background-secondary);
}