//  Content Panel
.content-98HsJk {
    border-radius: var(--radius);
}

//  Selected Server Icon
.svg-1X37T1 :first-child {
    border-radius: 0px; //var(--radius);
}

//  Selected Server Icon Bar
.pill-1z4sAY.wrapper-sa6paO {
    width: 0;
}

.scroller-1Bvpku.none-2Eo-qx.scrollerBase-289Jih {
    border-radius: var(--radius);
}